#Assignment 3: Dictionaries and Sets

##Sagar Matur
GO_STP_6290

1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [ ]:
import operator
d = {1: 'Amit', 3: 'Sachin', 4: 'Virat', 2: 'Rohit', 0: 'Bhuvan'}
print('Original dictionary : ',d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1)))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 'Amit', 3: 'Sachin', 4: 'Virat', 2: 'Rohit', 0: 'Bhuvan'}
Dictionary in ascending order by value :  {1: 'Amit', 0: 'Bhuvan', 2: 'Rohit', 3: 'Sachin', 4: 'Virat'}
Dictionary in descending order by value :  {4: 'Virat', 3: 'Sachin', 2: 'Rohit', 0: 'Bhuvan', 1: 'Amit'}

2 Write a Python Program to add a key to a dictionary.  \\
Sample Dictionary : {0: 10, 1: 20} \\
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
sd = {0: 10, 1: 20}
print("The sample dictionary is: ",sd)
sd[2] = 30
print("The expected dictionary is: ",sd)

The sample dictionary is:  {0: 10, 1: 20}
The expected dictionary is:  {0: 10, 1: 20, 2: 30}

3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
city_temp = {'Delhi': 34, 'Kolkata': 33, 'Mumbai': 30, 'Bengaluru': 29, 'Hyderabad': 31, 'Chennai': 34}
city_name = input("Enter the city name: ")
print("The temprature of", city_name,"city is",city_temp[city_name])

Enter the city name: Mumbai
The temprature of Mumbai city is 30

4 Write a Python program to convert list to list of dictionaries. \\
Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"] \\
Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'color_name': n, 'color_code': c} for n, c in zip(color_name, color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

5 We have following information on Employees and their Salary (Salary is in lakhs), \\
Employee	Salary \\
John      	14 \\
Smith	      13 \\
Alice	      32 \\
Daneil	    21 \\
1.	Using above create a dictionary of Employees and their Salary
2.	Write a program that asks user for three type of inputs, \\
a.	print: if user enter print then it should print all Employees with their Salary in this format, \\
1 .	John ==>14 \\
2 .	Smith ==>13 \\
3 .	Alice ==>32 \\
4 .	 Daneil ==>21 \\
b.	add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it \\
c.	remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist! \\
d.	query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [68]:
emp_salary = {'John':14, 'Smith':13, 'Alice':32, 'Daniel':21}
print(emp_salary)

{'John': 14, 'Smith': 13, 'Alice': 32, 'Daniel': 21}

In [90]:
option = int(input("Please select any one of the following options \n For print press 1 \n For add press 2 \n For remove press 3 \n For query press 4 \n"))
if option == 1:
  for i, j in zip(emp_salary.keys(), emp_salary.values()):
    print(i, '==>', j)
elif option == 2:
  emp_name = input("Please enter the new employee name:")
  if emp_name in emp_salary.keys():
    print("employee already exists")
  else:
    emp_sal = int(input("Enter the Salary: "))
    emp_salary[emp_name]=emp_sal
    print("The updated Employee records:",emp_salary)
elif option == 3:
  emp_name = input("Enter the employee name to be removed:")
  if emp_name in emp_salary.keys():
    emp_salary.pop(emp_name)
    new_emp = emp_salary
    print("The updated Employee records:",new_emp)
  else:
    print("Employee doesn't exist!")
elif option == 4:
  emp_name = input("Enter the employee name for which you wants to query:")
  if emp_name in emp_salary.keys():
    print("The salary of",emp_name,"is:",emp_salary[emp_name])
  else:
    print("Employee doesn't exist!")

Please select any one of the following options
 For print press 1
 For add press 2
 For remove press 3
 For query press 4
4
Enter the employee name for which you wants to query:Sagar
The salary of Sagar is: 25

### Questions on Sets

1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname). \\
The frozenset() is an inbuilt function in Python which takes an iterable object as input and makes them immutable. Simply it freezes the iterable objects and makes them unchangeable.
In Python, frozenset is same as set except its elements are immutable. This function takes input as any iterable object and converts them into immutable object. The order of element is not guaranteed to be preserved.

In [ ]:
set_colours = set(['Red', 'Orange', 'Black', 'Green'])
set_colours.add('White')
print(set_colours)

{'White', 'Orange', 'Black', 'Green', 'Red'}

In [ ]:
fset_colours = frozenset(['Red', 'Orange', 'Black', 'Green'])
fset_colours.add('White')
print(fset_colours)

AttributeError: ignored

2 Find the elements in a given set that are not in another set \\
    set1 = {10,20,30,40,50} \\
    set2 = {40,50,60,70,80} \\
 Difference between set1 and set2 is {10,20,30}

In [ ]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print(set1.difference(set2))

{10, 20, 30}