#Assignment 2: Lists

##Sagar Matur
GO_STP_6290

1.	Is a list mutable? \\
List is a Mutable object, because it can be changed after it is created. That is, the elements of list can be deleted, updated and the new elements can be added into the created list. \\
For example:

In [ ]:
lst = ["Orage", "Papaya", "Banana", "Grape"]
print("Created list is: ",lst)
lst[1] = "Apple"   #Papaya will be replaced by Apple
print("The updated list is: ",lst)
lst.pop(-1)
print("The list after removing the last element: ",lst)

Created list is:  ['Orage', 'Papaya', 'Banana', 'Grape']
The updated list is:  ['Orage', 'Apple', 'Banana', 'Grape']
The list after removing the last element:  ['Orage', 'Apple', 'Banana']

2.	Does a list need to be homogeneous? \\
Lists need not be homgeneous. It can contain elements of different datatypes like strings, numbers, boolean etc.

In [ ]:
lst.append(True)  #Adding boolean value "True" to the list 
lst. insert(5,2) # Adding element 2 to the list at the 5th position 
print(lst)
#Now the list contains string, boolean and integer values

['Orage', 'Apple', 'Banana', True, 2, 2, True]

3.	What is the difference between a list and a tuple. \\
* The List is Mutable whereas the tuple is immutable.
* List iteration is slower whereas tuple iteration is faster.
* List consumes more memory whereas tuple conumes less memory.
* List provides many in-built methods whereas tuples have less in-built methods.

4.	How to find the number of elements in the list? \\
len() function is used to find the number of elements in the list.

In [ ]:
len(lst) #returns the number of elements in the 'lst' list.

7

5.	How to check whether the list is empty or not? \\
By using conditional statements we can check whether the list is empty or not. I have mentioned 3 different examples below.

In [ ]:
list1=[]
if list1:
	print('List is not empty')
else:
	print('List is empty')

List is not empty

In [ ]:
if list1 == []:
  print('List is empty')
else:
  print('List is not empty')

List is not empty

In [ ]:
if len(lst) == 0:
  print('List is empty')
else:
  print('List is not empty')

List is not empty

6.	How to find the first and last element of the list? \\
By list indexing and list slicing.

In [ ]:
# List indexing
print("The list is: ", lst)
print("The first and last elements of the list are: ",[lst[0], lst[-1]])

The list is:  ['Orage', 'Apple', 'Banana', True, 2, 2, True]
The first and last elements of the list are:  ['Orage', True]

In [ ]:
# List slicing
print("The first and last elements of the list are: ", lst[::len(lst)-1])

The first and last elements of the list are:  ['Orage', True]

7.	How to find the largest and lowest value in the list? \\
By using max() and min() Functions

In [ ]:
lst1 = [48, 52, 24, 35, 17]
print("The largest value is: ",max(lst1))
print("The lowest value is: ",min(lst1))

The largest value is:  52
The lowest value is:  17

8.	How to access elements of the list? \\
Using indexing we can access the elements of the list

In [ ]:
print("Access the last element: ",lst[-1])
print("Access the last 3 element: ",lst[-3:])
print("Access the first 3 element: ",lst[0:3])

Access the last element:  True
Access the last 3 element:  [2, 2, True]
Access the first 3 element:  ['Orage', 'Apple', 'Banana']

9.	Remove elements in a list before a specific index. \\
By using del argument we can remove elements in a list before a specific index.

In [ ]:
lst1 = [48, 52, 24, 35, 17]
#Delete the elements 48, 52, and 24.
del lst1[:3]
print(lst1)

10.	Remove elements in a list between 2 indices.

In [ ]:
lst1 = [48, 52, 24, 35, 17]
#Delete the elements 52, and 24.
del lst1[1:3]
print(lst1)

[48, 35, 17]

11.	Return every 2nd element in a list between 2 indices

In [ ]:
lst1 = list(range(30,61))
print(lst1)

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [ ]:
lst1[10:21:2] # Every second elemet of the list 'lst1' between 10 and 21 indices.

[40, 42, 44, 46, 48, 50]

12.	Get the first element from each nested list in a list

In [ ]:
lst2 = [[[1,2],[3,4]], [[5,6,7],[8,9,10]], [[12, 13, 14]]]
print(lst2)
for item in lst2:
  print(item[0][0])

[[[1, 2], [3, 4]], [[5, 6, 7], [8, 9, 10]], [[12, 13, 14]]]
1
5
12

13.	How to modify elements of the list? \\
By reffering to the index of each elements one can modify the elements of the list.

In [ ]:
lst = ["Python", "Machine Learning", "Data Science", "Business Intelligence"]
print(lst)
#I want to chance the element "Data Science" to "Statistics"
lst[2]="Statistics"
print("Modified list is: ",lst)

['Python', 'Machine Learning', 'Data Science', 'Business Intelligence']
Modified list is:  ['Python', 'Machine Learning', 'Statistics', 'Business Intelligence']

14.	How to concatenate two lists?

In [ ]:
lst = ["Python", "Machine Learning", "Data Science", "Business Intelligence"]
print(lst)
lst1 = [48, 52, 24, 35, 17]
print(lst1)
method1 = [*lst, *lst1]
print("Concatenate of two lists is: ", method1)
method2 = lst + lst1
print("Concatenate of two lists is: ", method2)

['Python', 'Machine Learning', 'Data Science', 'Business Intelligence']
[48, 52, 24, 35, 17]
Concatenate of two lists is:  ['Python', 'Machine Learning', 'Data Science', 'Business Intelligence', 48, 52, 24, 35, 17]
Concatenate of two lists is:  ['Python', 'Machine Learning', 'Data Science', 'Business Intelligence', 48, 52, 24, 35, 17]

In [ ]:
#Concatenate of two lists through .append() function
lst.append(lst1)  #Adding the whole list 'lst1' as a single list element to the list lst
lst

['Python',
 'Machine Learning',
 'Data Science',
 'Business Intelligence',
 [48, 52, 24, 35, 17]]

In [ ]:
lst = ["Python", "Machine Learning", "Data Science", "Business Intelligence"]
#Concatenate of two lists through .extend() function
lst.extend(lst1) #Adding each element of 'lst1' list to the list 'lst'
lst

['Python',
 'Machine Learning',
 'Data Science',
 'Business Intelligence',
 48,
 52,
 24,
 35,
 17]

15.	How to add two lists element-wise in python?

In [ ]:
lst1 = [25, 27, 34]
lst2 = [42, 15, 36]

add_list = [a + b for a, b in zip(lst1, lst2)]

print(add_list)

[67, 42, 70]

16.	Difference between del and clear? \\
'del' keyword is used remove items by index or slice, if you don't specify the index or slice then the whole list will be deleted from the list. \\
clear() method is used to empty the entire list. This argument returns the empty list.

In [ ]:
lst1 = ["Python", "Machine Learning", "Data Science", "Business Intelligence", "Goeduhub"]
lst2 = [48, 52, 24, 35, 17]
del lst1[3]
print(lst1)
del lst1[0:3]
print(lst1)
lst2.clear()
print(lst2)

['Python', 'Machine Learning', 'Data Science', 'Goeduhub']
['Goeduhub']
[]

17.	Difference between remove and pop? \\
remove() method uses the value as a parameter to delete the corresponding value from the list. \\
pop() method uses the index as a parameter to delete the corresponding value from the list and it returns the element which is deleted from the list.

In [ ]:
lst1 = ["Python", "Machine Learning", "Data Science", "Business Intelligence", "Goeduhub"]
lst2 = [48, 52, 24, 35, 17]
lst1.remove("Data Science")
lst2.remove(52)
lst1.pop(2)
lst2.pop(0)
print(lst1)
print(lst2)

['Python', 'Machine Learning', 'Goeduhub']
[24, 35, 17]

18.	Difference between append and extend? \\
append() method adds an element to a list. this method adds its argument as a single element to the end of a list, the length of the list itself will increase by one. \\
extend() method concatenates the first list with another list (or another iterable). This method iterates over its argument adding each element to the list, extending the list. The length of the list will increase based on the size of the added list.

19.	Difference between indexing and Slicing? \\
Indexing means referring to a single element of an iterable by its position within the iterable. \\
Slicing is similar to indexing but returns a sequence of items instead of a single item.

In [ ]:
lst1 = ["Python", "Machine Learning", "Data Science", "Business Intelligence", "Goeduhub"]
#indexing
print("Indexing:",lst1[-1])
#slicing
print("Slicing:",lst1[:3])

Indexing: Goeduhub
Slicing: ['Python', 'Machine Learning', 'Data Science']

20.	Difference between sort and sorted? \\
sort() function is very similar to sorted() but unlike sorted it returns nothing and makes changes to the original sequence. Moreover, sort() is a method of list class and can only be used with lists. \\
sorted() method sorts the given sequence either in ascending order or in descending order and always return the a sorted list. This method doesnot effect the original sequence.

In [ ]:
lst2 = [48, 52, 24, 35, 17]

In [ ]:
sorted(lst2)

[17, 24, 35, 48, 52]

In [ ]:
lst2

[48, 52, 24, 35, 17]

In [ ]:
lst2.sort(reverse=True)

In [ ]:
lst2

[52, 48, 35, 24, 17]

21.	Difference between reverse and reversed?

In [ ]:

# Python3 program to demonstrate the 
# use of reverse method 
   
# a list of numbers
list1 = [1, 2, 3, 4, 1, 2, 6] 
list1 = reversed(list1)
print(list1) 
  
# a list of characters
list2 = ['a', 'b', 'c', 'd', 'a', 'a'] 
list2 = reversed(list2) 
print(list2)

<list_reverseiterator object at 0x7ff30dd8e210>
<list_reverseiterator object at 0x7ff30dd8e710>

22.	Difference between copy and deepcopy? \\
A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original. \\
A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

In [7]:
#Shallow copy
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b = list(a)
print(a)
print(b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
a[1][1] = True
print(a)
print(b)
#In shallow copy the changes made in intial list will be affected on the copied list

[[1, 2, 3], [4, True, 6], [7, 8, 9]]
[[1, 2, 3], [4, True, 6], [7, 8, 9]]

In [4]:
#Deep copy
import copy
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b = copy.deepcopy(a)
print(a)
print(b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
a[1][1] = True
print(a)
print(b)
#In deep copy the changes made in intial list will not be affected on the copied list

[[1, 2, 3], [4, True, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

23.	How to remove duplicate elements in the list?

In [ ]:
lst1 = [2, 5, 9, 2, 4, 5, 2, 1]
lst1 = list(dict.fromkeys(lst1))
print(lst1)

[2, 5, 9, 4, 1]

24.	How to find an index of an element in the python list?

In [ ]:
lst1 = ["Python", "Machine Learning", "Data Science", "Business Intelligence", "Goeduhub"]
lst1.index("Goeduhub") #index of "Goeduhub" element in the list 'lst1'.

4

25.	How to find the occurrences of an element in the python list? \\
By using the .count() argument.

In [9]:
a = [15, 12, 18, 23, 18, 56, 18, 22]
a.count(18)

3

26.	How to insert an item at a given position? \\
By using .insert() argument.

In [12]:
a = [15, 12, 18, 23, 18, 56, 18, 22]
a.insert(2, 'goeduhub')  #Inserting the "goeduhub" at the second index of the list 'a'. 
print(a)

[15, 12, 'goeduhub', 18, 23, 18, 56, 18, 22]

27.	How to check if an item is in the list?

In [15]:
a = [15, 12, 18, 23, 18, 56, 18, 22]
ele = int(input("Enter the value to be checked: "))
if a.count(ele)==0:
  print("The element is not in the list")
else:
  print("The element is in the list")

Enter the value to be checked: 25
The element is not in the list

28.	How to flatten a list in python? \\
A Python list can contain multiple dimensions. This means that you have a list within lists. These lists, sometimes referred to as ‘nested lists,” can be converted back into a regular list.

In [18]:
import itertools
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

b = itertools.chain(*a)
print(list(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29.	How to convert python list to other data structures like set, tuple, dictionary?

In [20]:
#List to set
setofprice = set(prices)
print(setofprice)

{40, 35, 28}

In [21]:
#List to tuple
tup = tuple(prices)
print(tup)

(35, 40, 40, 28)

In [19]:
#List to dictionary
Juices = ["Apple", "Pear", "Peach", "Banana"]
prices = [35, 40, 40, 28]

Juice_dictionary = dict(zip(Juices, prices))

print(Juice_dictionary)

{'Apple': 35, 'Pear': 40, 'Peach': 40, 'Banana': 28}

30.	How to apply a function to all items in the list?

In [23]:
Juices = ["Apple", "Pear", "Peach", "Banana"]
output_list = list(map(str.upper, Juices))
  
print(output_list)

['APPLE', 'PEAR', 'PEACH', 'BANANA']

31.	How to filter the elements based on a function in a python list?

In [24]:
prices = [30, 60, 65, 20, 50, 15, 25]
filtered = filter(lambda price: price >= 50, prices)

print(list(filtered))

[60, 65, 50]

32.	How python lists are stored in memory? \\
The list is the fundamental linked data structure. Therefore, a list is stored as distinct blocks of memory bound together by pointers.